
body{
    font-family: Arial, Helvetica, sans-serif
}

.inputValue {
    height: 50px;
    width: 400px;
    border: solid;
    border-width: .1em;
    border-color: rgb(191, 191, 191);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    padding-left: 20px;
}

.button {
    height: 55px;
    width: 100px;
    border: none;
    background-color: rgb(27, 27, 27);
    color: white;
    padding-left: .5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: .1em;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(87, 87, 87);
    transition: .5s;
}

.divCard{
    display: flex;
    border: solid;
    border-width: .1em;
    margin: 10px;
}

.pTemp {
    font-family: Arial, Helvetica, sans-serif;
    color:blue;
}
