
* {
    width: 100%;
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

header h1{
    margin: 50px 0 15px 0;
}

#currentDay{
    margin: 15px 0 15px 0;
}

.inputValue {
    height: 50px;
    width: 400px;
    border: solid;
    border-width: .1em;
    border-color: rgb(191, 191, 191);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    padding-left: 20px;
}

.button {
    height: 55px;
    width: 100px;
    border: none;
    background-color: rgb(27, 27, 27);
    color: white;
    padding-left: .5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: .1em;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(87, 87, 87);
    transition: .5s;
}

#form{
    width: 100%;
}

.searchHistoryButton{
    display: flex;
    
}

footer p{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 50px;
    background-color: rgb(27, 27, 27);
    color: white;
    align-items: center;
}

/* Java Script Class Callouts */
.divCard{
    display: flex;
    background-color: coral;
    border-width: .1em;
    margin: 10px;
    width: 200px;
    height: 300px;
}

.pTemp {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color:blue;
    height: fit-content;
}

.pHumi{
    display: flex;
    height: fit-content;
}

.pWind{
    height: fit-content;
}

.pDesc{
    height: fit-content;
}
