
* {
    width: 100%;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Work Sans', sans-serif;
    width: 100%;
    height: 100%;
    background: 
    linear-gradient(217deg, rgba(66, 120, 212, 0.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(42, 42, 110, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(194, 231, 238, 0.8), rgba(0,0,255,0) 70.71%);
    background-attachment: fixed;
}

/* START OF HEADER */
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}  

header h1{
    margin: 50px 0 5px 0;
    color: white;
    font-size: 50px;
    font-family: 'Merriweather Sans', sans-serif;
}

#currentDay{
    margin: 0 0 30px 0;
    color: rgb(255, 255, 255);
}

.inputValue {
    height: 50px;
    width: 400px;
    border: none;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    color: grey;
    padding-left: 20px;
    appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    outline: none;
    margin: 30px 0 30px 0;
}

.inputValue:active {
    border-radius: 0;
    border-color: blue;
    border: solid;
}

.clear{
    height: 50px;
    width: 100px;
    border: none;
    background-color: rgb(255, 106, 0);
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    letter-spacing: .1em;
    cursor: pointer;
}

.clear:hover{
    background-color: rgb(255, 152, 79);
    transition: .5s;
}

.button {
    height: 50px;
    width: 100px;
    border: none;
    background-color: rgb(56, 114, 153);
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    letter-spacing: .1em;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(164, 219, 255);
    color: rgb(255, 255, 255);
    transition: .5s;
}

main{
    display: flex;

}

#form{
    width: 50%;
}

.histButton{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 10px;
    /* margin-left: 50px; */
    text-align: center;
    border: none;
    background-color: rgb(255, 106, 0);
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    letter-spacing: .1em;
    cursor: pointer;
}

.histButton:hover{
    background-color: rgb(255, 152, 79);
    transition: .5s;
}

.weather-display{
    width: 50%;
    height: 200px;
    background: 
    linear-gradient(217deg, rgba(66, 120, 212, 0.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(42, 42, 110, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(194, 231, 238, 0.8), rgba(0,0,255,0) 70.71%);
    background-attachment: fixed;
    box-shadow: 10px 10px 15px rgb(111, 138, 190);
    margin: 10px;
    padding: 40px;
}

.name{
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    margin-bottom: 15px;
    font-size: 2.5em;
}

.currentCard{
    color: white;
    margin-bottom: 15px;
    font-size: 1.5em;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Merriweather Sans', sans-serif;
}

.latCoord{
    color:rgb(164, 219, 255);
    margin-bottom: 5px;
}

.lonCoord{
    color:rgb(164, 219, 255);
    margin-bottom: 5px;
}

.uvi{
    color:rgb(164, 219, 255);
    margin-bottom: 5px;
}


/* START OF 5 DAY FORCAST */
.futureCard{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}

.divCard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background: 
    linear-gradient(217deg, rgba(66, 120, 212, 0.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(42, 42, 110, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(194, 231, 238, 0.8), rgba(0,0,255,0) 70.71%);
    background-attachment: fixed;
    border-width: .1em;
    margin: 10px;
    width: 250px;
    height: 275px;
    padding: 30px;
    font-family: 'Work Sans', sans-serif;
    box-shadow: 10px 10px 15px rgb(111, 138, 190);
}

.divReadings{
    display: flex;
}

img{
    height: 70px;
    width: 70px;
    margin-left: 30%;
}

/* Bottom three value for weather (card) */
.divGauge{
    color: white;
    font-size: small;
    font-weight: 400;
    display: flex;
}

/*  */
.pDate{
    font-weight: 700;
    font-family: 'Merriweather Sans', sans-serif;
    letter-spacing: .05em;
    font-size: 20px;
    color: white;
}

.pDesc {
    color:rgb(164, 219, 255);
}

footer p{
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
    height: 35px;
    color: white;
    align-items: center;
    font-size: .5em;
}
